{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Money Transaction</legend>
            <div class="form-group">
                {{ form.reciver_account.label(class="form-control-label")}}
                {% if form.reciver_account.errors %}
                {{ form.reciver_account(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.reciver_account.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.reciver_account(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.credit_amount.label(class="form-control-label")}}
                {% if form.credit_amount.errors %}
                {{ form.credit_amount(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.credit_amount.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.credit_amount(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.user_password.label(class="form-control-label")}}
                {% if form.user_password.errors %}
                {{ form.user_password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.user_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.user_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already HAve an account <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}
