{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add new atm</legend>
            <div class="form-group">
                {{ form.role_name.label(class="form-control-label")}}
                {% if form.role_name.errors %}
                {{ form.role_name(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.role_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.role_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
