{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Account status change</legend>
				<div class="form-group">
					{{ form.user_id.label(class="form-control-label")}}
					{% if form.user_id.errors %}
						{{ form.user_id(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.user_id.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.user_id(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.user_name.label(class="form-control-label")}}
					{% if form.user_name.errors %}
						{{ form.user_name(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.user_name.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.user_name(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.loan_id.label(class="form-control-label")}}
					{% if form.loan_id.errors %}
						{{ form.loan_id(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.loan_id.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.loan_id(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.loan_amount.label(class="form-control-label")}}
					{% if form.loan_amount.errors %}
						{{ form.loan_amount(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.loan_amount.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.loan_amount(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.rate_interest.label(class="form-control-label")}}
					{% if form.rate_interest.errors %}
						{{ form.rate_interest(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.rate_interest.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.rate_interest(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.paid_amount.label(class="form-control-label")}}
					{% if form.paid_amount.errors %}
						{{ form.paid_amount(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.paid_amount.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.paid_amount(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.loan_type.label(class="form-control-label")}}
					{% if form.loan_type.errors %}
						{{ form.loan_type(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.loan_type.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.loan_type(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.loan_status.label(class="form-control-label")}}
					{% if form.loan_status.errors %}
						{{ form.loan_status(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.loan_status.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.loan_status(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.approval_status.label(class="form-control-label")}}
					{% if form.approval_status.errors %}
						{{ form.approval_status(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.approval_status.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.approval_status(class="form-control form-control-lg") }}
					{% endif %}
				</div>



			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}
