{% extends "base.html" %}
{% block content %}
<a href="{{url_for('admin.admin_dashboard')}}"><button>Go back</button></a>
<br>
<hr>
<div class="col-md-8" style="text-align:center;border:solid;padding:15px;">
                <h5 style="text-align: center;;background:black;color:white;">bank provided loans Data</h5>
                <table style="text-align:left">
                    <tr >
                        <th style="text-align:left"><pre>id     </pre></th>&nbsp;
                        <th style="text-align:left"><pre>Loan name   </pre></th>&nbsp;
                        <th style="text-align:left"><pre>Delete   </pre></th>
                    </tr>
                    {% for loan in loans.items %}
                    <tr>
                        <td><pre>{{loan.id}}   </pre></td>&nbsp;
                        <td><pre>{{loan.loan_name}}   </pre></td>&nbsp;
                        <td><a href="{{url_for('admin.delete_loan_choices',choice_id=loan.id)}}">
                                    <button>Delete</button></a> </></td>&nbsp;
                    </tr>
                    {% endfor %}
                </table>
                {% for page_num in loans.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)  %}
                            {% if page_num %}
                                {% if loans.page == page_num %}
                <a href="{{ url_for('admin.show_loan_choices', page=page_num)}}"><button>{{page_num}}</button></a>
                                {% else %}

                <a href="{{ url_for('admin.show_loan_choices', page=page_num)}}"><button>{{page_num}}</button></a>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                <hr>
                <a href="{{url_for('admin.loan_choices')}}" style="text-align:left"><button>Add new Bank loan</button></a>
            </div>
{% endblock content %}