{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Fd status approval</legend>
				<div class="form-group">
					{{ form.user_id.label(class="form-control-label")}}
					{% if form.user_id.errors %}
						{{ form.user_id(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.user_id.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.user_id(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.user_name.label(class="form-control-label")}}
					{% if form.user_name.errors %}
						{{ form.user_name(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.user_name.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.user_name(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.fd_id.label(class="form-control-label")}}
					{% if form.fd_id.errors %}
						{{ form.fd_id(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.fd_id.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fd_id(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.fd_amount.label(class="form-control-label")}}
					{% if form.fd_amount.errors %}
						{{ form.fd_amount(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.fd_amount.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fd_amount(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.fd_status.label(class="form-control-label")}}
					{% if form.fd_status.errors %}
						{{ form.fd_status(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.fd_status.errors %}
							<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fd_status(class="form-control form-control-lg") }}
					{% endif %}
				</div>

			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}
